<div class="col-12 col-md-6 centered container_maked" style="padding-top:15px;">

    <div class="tasks-container">

        <h1>
            <center>DEMANDAS TI</center>
        </h1>
        <form action="/add" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="nome" placeholder="Tarefa para ser feita..." />
                <div class="input-group-prepend">
                    <button class="new-task-button">Adicionar</button>
                </div>

            </div>
        </form>
    </div>

    <div class="tasks-container">
        {{#each demandas}}
        <div class="flex-column">
            <div class="p-2 row border ">

                <div class="p-2 ">
                    {{#if dataValues.feito}}
                        <s>{{dataValues.nome}}</s>
                    {{else}}
                        <p>{{dataValues.nome}}</p>
                    {{/if}}
                </div>
                <div class="p-2 ml-auto ">
                    {{#if dataValues.feito}}
                    {{else}}
                        <a href="/feito/{{dataValues.id}}"><button class="btn btn-primary"> Feito</button></a>

                        <a href="/editar/{{dataValues.id}}"><button class="btn btn-success"> Editar</button></a>
                    {{/if}}
                    <a href="/delete/{{dataValues.id}}"><button class="btn btn-danger">Apagar</button> </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <script src="https://kit.fontawesome.com/f9e19193d6.js" crossorigin="anonymous"></script>
</div>